# Read about configuration, here:
# https://craftcms.com/docs/5.x/configure.html

# The application ID used to to uniquely store session and cache data, mutex locks, and more
CRAFT_APP_ID=r34gw5h456h6whj65654jw4w456w4567565j7w

# The environment Craft is currently running in (dev, staging, production, etc.)
CRAFT_ENVIRONMENT=dev

# Database connection settings
CRAFT_DB_DRIVER=mysql
CRAFT_DB_SERVER=127.0.0.1
CRAFT_DB_PORT=3306
CRAFT_DB_DATABASE=portfolio
CRAFT_DB_USER=root
CRAFT_DB_PASSWORD=
CRAFT_DB_SCHEMA=public
CRAFT_DB_TABLE_PREFIX=

PRIMARY_SITE_URL=http://portfolio-craft.local/
PRIMARY_SITE_URL_NL=http://portfolio-craft.local/nl
ASSET_BASE_URL=http://portfolio-craft.local/files

ASSET_BASE_PATH=files
ASSET_TRANSFORMED_URL=transformed

# General settings
CRAFT_SECURITY_KEY=4erg43g4387c83mqyp784q3omcxq5347,ym8gttq2p8xg,my548pqym5g
CRAFT_DEV_MODE=true
CRAFT_ALLOW_ADMIN_CHANGES=true
CRAFT_DISALLOW_ROBOTS=true
