#past-work_window,#social-media_window,#paint_window{
    height:500px;
    width:800px;
}

#welcome_window{
    height:350px;
    width:500px;
}

#about-me_window,#contact_window{
    height:450px;
    width:550px;
}

#cv_window{
    height: 600px;
    width: 900px;
}

@media only screen and ((max-width: 600px) or (max-height:600px))    {

    @media only screen and (orientation:landscape){

        #cv_window,#welcome_window{
            height: 300px;
            width: 450px;
         }

        #contact_window,#about-me_window,#social-media_window,#past-work_window,#paint_window{
            height:300px;
            width:550px;
        }
    }

    @media only screen and (orientation:portrait){
  
        #cv_window{
           height: 200px;
           width: 350px;
        }

        #welcome_window, #about-me_window,#contact_window,#social-media_window,#past-work_window,#paint_window{
            height:400px;
            width:350px;
        }

    }
    
}