#social_media_window{
    height:500px;
    width:800px;
}

#i_wont_forget_hue_window{
    height:250px;
    width:400px;
}

#oh_bees_window{
    height:200px;
    width:600px;
}

#past_work_window{
    height:500px;
    width:800px;
}

#cv_window{
   height: 600px;
   width: 900px;
}

#my_properties_window{
    height:500px;
    width:500px;
}

#contact_window{
    height:450px;
    width:550px;
}

#about_me_window{
    height:450px;
    width:550px;
}

#welcome_window{
    height:350px;
    width:500px;
}

@media only screen and ((max-width: 600px) or (max-height:600px))    {

    @media only screen and (orientation:landscape){

        #social_media_window{
            height:350px;
            width:575px;
        }
        
        #i_wont_forget_hue_window{
            height:220px;
            width:350px;
        }
        
        #oh_bees_window{
            height:100px;
            width:250px;
        }
        
        #past_work_window{
            height:300px;
            width:575px;
        }
        
        #cv_window{
           height: 300px;
           width: 450px;
        }
        
        #my_properties_window{
            height:300px;
            width:530px;
        }

        #contact_window{
            height:300px;
            width:550px;
        }

        #about_me_window{
            height:300px;
            width:550px;
        }

        #welcome_window{
            height: 300px;
            width: 450px;
        }

    }

    @media only screen and (orientation:portrait){

        #social_media_window{
            height:450px;
            width:350px;
        }
        
        #i_wont_forget_hue_window{
            height:150px;
            width:250px;
        }
        
        #oh_bees_window{
            height:150px;
            width:300px;
        }
        
        #past_work_window{
            height:450px;
            width:350px;
        }
        
        #cv_window{
           height: 200px;
           width: 330px;
        }
        
        #my_properties_window{
            height:500px;
            width:350px;
        }

        #contact_window{
            height:400px;
            width:350px;
        }

        #about_me_window{
            height:400px;
            width:350px;
        }

        #welcome_window{
            height:400px;
            width:350px;
        }

    }

}